<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pl" }}">

  {% include head.html %}
  <meta name="language" content="PL">
  <meta name="robots" content="index,follow">
  <meta name="owner" content="Michał Wadas">
  <meta name="rating" content="General">

<body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  <script src="{{ "/assets/jquery.min.js" | relative_url }}""></script>
  <script src="{{ "/assets/references.js" | relative_url }}""></script>

  </body>

</html>
