---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posty" }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      <li class="post-in-list">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <h1>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h1>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
        {% assign post_total_size = post.content | strip_html | size | times: 1.0 %}
        {% assign post_excerpt_size = post.excerpt | strip_html | size | times: 1.0 %}
        {% assign excerpt_percent_of_size = post_excerpt_size | divided_by: post_total_size | times: 100 %}
        <div class="read-more">
          <a class="read-more-link" href="{{ post.url | relative_url }}">pozostało {{ 100 | minus: excerpt_percent_of_size | round: 1 }}% treści</a>
        </div>

        <hr class="post-separator">
      </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">Subskrybuj <a href="{{ "/feed.xml" | relative_url }}">przez RSS</a></p>
  {% endif %}

</div>
