.post-header > a.hash-header-link {
    display: none;
    color: #888;
}

.post-header:hover > a.hash-header-link {
    display: inline;
    color: #888;
}

blockquote {
    padding-left: 2.5em;
    min-height: 2.5em;
    border: none;
    background-image: url("./quote.svg");
    background-repeat: no-repeat;
    background-size: 2em;
}

.site-header {
    border-top: 5px solid #4915e3;
}

hr.post-separator {
    border: none;
    height: 5px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.175), rgba(0, 0, 0, 0.05)) 100%;
}

a.link-with-icon {
    padding-left: 1.3em;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-position-x: 0.15em;
}

a.pubmed-link {
    background-image: url("./external-icons/pubmed.png");
}

a.wikipedia-link {
    background-image: url("./external-icons/wikipedia.png");
}

a.archive-org-link {
    background-image: url("./external-icons/web-archive-org.svg");
}

a.facebook-link {
    background-image: url("./external-icons/facebok.png");
}

a.doi-link {
    background-image: url("./external-icons/doi.svg");
}

.banner-container {
    height: 8em;
    overflow: visible;
    position: relative;
    width: 100%;
}

.banner {
    position: absolute;
    top: -2em;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), #d4bff9, rgba(0, 0, 0, 0));
    height: 12em;
    pointer-events: none;
}

.referencing {
    vertical-align: super;
    font-size: .75em;
}
