.post-header > a.hash-header-link {
    display: none;
    color: #888;
}

.post-header:hover > a.hash-header-link {
    display: inline;
    color: #888;
}

blockquote {
    padding-left: 2.5em;
    min-height: 2.5em;
    border: none;
    background-image: url("./quote.svg");
    background-repeat: no-repeat;
    background-size: 2em;
}

.site-header {
    border-top: 5px solid #4915e3;
}

hr.post-separator {
    border: none;
    height: 0.75em;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.175), rgba(0, 0, 0, 0.05)) 100%;
}

a.link-with-icon {
    padding-left: 1.3em;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-position-x: 0.15em;
}

a.pubmed-link {
    background-image: url("./external-icons/pubmed.png");
}

a.wikipedia-link {
    background-image: url("./external-icons/wikipedia.png");
}

a.archive-org-link {
    background-image: url("./external-icons/web-archive-org.svg");
}

a.facebook-link {
    background-image: url("./external-icons/facebok.png");
}

a.doi-link {
    background-image: url("./external-icons/doi.svg");
}

.banner-container {
    height: 5em;
    overflow: visible;
    position: relative;
    width: 100%;
}

.banner {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 5em;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(0, 0, 255, 0), rgba(0, 0, 255, 0.4), rgba(0, 0, 255, 0));
}

.referencing {
    vertical-align: super;
    font-size: .75em;
}

.read-more {
    display: block;
    text-align: center;
    padding: 0.25em;
}

body {
    font-family: Verdana, sans-serif;
}

.post-in-list, .post-content {
    line-height: 20px;
    font-size: 12px;
}

body {
    background:
            linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px) 0 64px;
    background-attachment: fixed;
    background-color: #708090;
    background-size: 64px 128px;
}

.wrapper {
    background-color: rgba(253, 253, 253, 0.95);
}

.site-header {
    border: none;
}

.site-footer {
    border: none;
}

.page-content {
    padding: 0;
}

div.editor-note {
    margin: 1em 0;
    padding-left: 1em;
    color: #666;
    border-left: 5px solid #fbb;
    display: flex;
    flex-direction: row;
}
